null
test-output
node_modules
.env
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Ignore all dist folders
**/dist/

# Except this one
!apps/backend/dist/

# Nx cache and workspace data
.nx/cache/
.nx/workspace-data/
# Logs
*.log
.vercel
